<?xml version="1.0"?>
<config>
    <modules>
        <MisterTango_Payment>
            <version>0.9.2</version>
        </MisterTango_Payment>
    </modules>
    <global>
        <blocks>
            <mtpayment>
                <class>MisterTango_Payment_Block</class>
            </mtpayment>
        </blocks>
        <models>
            <mtpayment>
                <class>MisterTango_Payment_Model</class>
                <resourceModel>mtpayment_resource</resourceModel>
            </mtpayment>
            <mtpayment_resource>
                <class>MisterTango_Payment_Model_Resource</class>
                <entities>
                    <transaction>
                        <table>transactions_mistertango</table>
                    </transaction>
                    <callback>
                        <table>callbacks_mistertango</table>
                    </callback>
                </entities>
            </mtpayment_resource>
        </models>
        <resources>
            <mtpayment_setup>
                <setup>
                    <module>MisterTango_Payment</module>
                    <class>MisterTango_Payment_Model_Resource_Setup</class>
                </setup>
            </mtpayment_setup>
        </resources>
        <helpers>
            <mtpayment>
                <class>MisterTango_Payment_Helper</class>
            </mtpayment>
        </helpers>
        <resources>
            <mtpayment_setup>
                <setup>
                    <module>MisterTango_Payment</module>
                </setup>
            </mtpayment_setup>
        </resources>
    </global>
    <default>
        <payment>
            <mtpayment>
                <active>0</active>
                <model>mtpayment/payment</model>
                <title>MisterTango</title>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>
                <payment_action>sale</payment_action>
            </mtpayment>
        </payment>
    </default>
    <frontend>
        <translate>
            <modules>
                <MisterTango_Payment>
                    <files>
                        <default>MisterTango_Payment.csv</default>
                    </files>
                </MisterTango_Payment>
            </modules>
        </translate>
        <routers>
            <mtpayment>
                <use>standard</use>
                <args>
                    <module>MisterTango_Payment</module>
                    <frontName>mtpayment</frontName>
                </args>
            </mtpayment>
        </routers>
        <layout>
            <updates>
                <mtpayment>
                    <file>mtpayment.xml</file>
                </mtpayment>
            </updates>
        </layout>
    </frontend>
</config>
